# Configurações da Aplicação
CYPRESS_BASE_URL=https://teste-colmeia-qa.colmeia-corp.com

# Credenciais de Teste
CYPRESS_USER_EMAIL=qa@test.com
CYPRESS_USER_PASSWORD=123456

# Configurações do Cypress
CYPRESS_VIEWPORT_WIDTH=1280
CYPRESS_VIEWPORT_HEIGHT=720

# Ambiente
NODE_ENV=test
